 <div id="content">
        <h1> to do list</h1>
<link rel= "stylesheet" href = "index.css">
       <ul>
           <li>
             <input type="checkbox">
              <a href="/todo/show/1">do geometry homework 1 pomodoros</a>
             
             
            </li>
           <li>
               <input type="checkbox">
              <a href="/todo/show/2">do ela homework</a>
               
               </li>
           <li>
               <input type="checkbox">
             <a href="/todo/show/3"> do living environment hw</a>
             
             <a href="show.html">
             </a>
               </li>
        </ul>
        
        <form action="index.html"
          add  <input type="text" add="frame"><br>
          <input type="submit" value="Submit">
          <input type="text" value="">
          <input type="button" value="add">
          </form>
          </div>
          